Resources:
  AWSEBLoadBalancerListenerSSL:
    Type: AWS::ElasticLoadBalancingV2::Listener
    Properties:
      LoadBalancerArn:
        Ref: AWSEBLoadBalancer
      Port: 443
      Protocol: HTTPS
      Certificates:
        - CertificateArn: arn:aws:acm:us-east-2:473316330098:certificate/9fe8a3c4-d69b-458c-a427-e2e40b2c282e
      DefaultActions:
        - Type: Forward
          TargetGroupArn:
            Ref: AWSEBLoadBalancerTargetGroup

option_settings:
  aws:elasticbeanstalk:environment:
    LoadBalancerType: application
    ManagedSecurityGroups:sg-xxxxxxxx

  aws:elasticbeanstalk:environment:loadbalancer:
    ListenerEnabled: true
    ListenerPort: 443
    ListenerProtocol: HTTPS
    SSLCertificateArn: arn:aws:acm:us-east-2:473316330098:certificate/9fe8a3c4-d69b-458c-a427-e2e40b2c282e

